a {
  text-decoration: none;
}

.login {
  .button-icon {
    margin-left: 12px;
  }

  .button-text {
    margin-right: 12px;
  }

  &:hover {
    background-color: white;
  }
}

#login,
#action-call,
#free-trial {
  width: 115px;
  height: 48px;
  border-radius: 25px;
  border: 1px solid white;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px;
}

#free-trial {
  width: 180px;
  display: flex;
  justify-content: center;
  margin-left: 4px;
  color: $ml-blue1;
  background-color: $ml-white;
}

#action-call {
  background: #336cdb;
  width: 10rem;
  padding: 8px;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  p {
    margin: 0;
  }
}

.more-info {
  background: #eff4fc;
  color: #336cdb;
  width: 85px;
}
