@media (min-width: 1001px) and (max-width: 1400px) {
  .banner-bg {
    height: 80vh;
  }

  .header-grid {
    height: 80vh;
    .navbar-main {
    }
    .hero-left {
      position: relative;
      .hero-left-wrapper {
        position: absolute;
        left: 10%;
        .hero-grabber {
          h1 {
            font-size: 50px;
          }
        }
        .hero-text {
          p {
            font-size: 16px;
            width: 300px !important;
            br {
              display: none;
            }
          }
        }
      }
    }

    .hero-right {
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90%;
        margin: auto;
      }
    }
  }

  .section-master-accelerate {
    .text-box {
      .text-top {
        h2 {
        }
      }

      .text-bottom {
        p {
          br {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  .banner-bg {
    height: 70vh;
  }

  .header-grid {
    height: 70vh;
    .navbar-main {
    }
    .hero-left {
      position: relative;
      .hero-left-wrapper {
        position: absolute;
        left: 10%;
        .hero-grabber {
          h1 {
            font-size: 50px;
          }
        }
        .hero-text {
          p {
            font-size: 16px;
            width: 300px !important;
            br {
              display: none;
            }
          }
        }
      }
    }

    .hero-right {
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90%;
        margin: auto;
      }
    }
  }

  .section-master-accelerate {
    .text-box {
      .text-top {
        h2 {
          font-size: 36px;
        }
      }

      .text-bottom {
        p {
          font-size: 16px;
          line-height: 190%;
          br {
            display: none;
          }
        }
      }
    }

    .vector-box {
      img {
        width: 85%;
      }
    }
  }

  .section-steps {
    .text-header {
      p {
        font-size: 24px;
      }
    }

    .step-box-wrapper {
    }
  }

  .section-elevate {
    .elevate-action {
      .heading {
        h1 {
          font-size: 48px;
        }
      }

      .subheading {
        p {
          font-size: 16px;
        }
      }

      .text {
        p {
          font-size: 16px;
          br {
            display: none;
          }
        }
      }
    }

    .elevate-ill {
      img {
        width: 100%;
      }
    }
  }

  .section-workspace {
    margin-top: 0;
    .workspace-ill {
      img {
        max-width: 100%;
      }
    }

    .workspace-action {
      padding: 0;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 20%;
      .heading {
        h1 {
          font-size: 36px;
        }
      }

      .subheading {
        margin-top: 12px;
        margin-bottom: 12px;
        p {
          font-size: 16px;
          margin-bottom: 0rem;
        }
      }

      .text {
        p {
          font-size: 16px;
        }
      }
    }
  }

  .section-testimonials {
    .hero {
      .heading {
        img {
        }

        h1 {
          font-size: 48px;
        }
      }

      .text {
        p {
          font-size: 16px;
        }
      }
    }
  }

  .section-sign-up {
    .sign-up-ills {
      img {
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .banner-bg {
    height: 70vh;
  }

  .header-grid {
    height: 70vh;
    .navbar-main {
    }
    .hero-left {
      position: relative;
      .hero-left-wrapper {
        position: absolute;
        left: 10%;
        .hero-grabber {
          h1 {
            font-size: 50px;
          }
        }
        .hero-text {
          p {
            font-size: 16px;
            width: 300px !important;
            br {
              display: none;
            }
          }
        }
      }
    }

    .hero-right {
      img {
        margin: auto;
      }
    }
  }

  .section-trusted-orgs {
    .org-bottom {
      margin-left: 4rem;
      margin-right: 4rem;
      margin-top: 2rem;
      gap: 3rem;
    }
  }

  .section-master-accelerate {
    margin: 2rem;
    margin-top: 100px;
    width: 95vw;
    .text-box {
      .text-top {
        h2 {
          font-size: 26px;
        }
      }

      .text-bottom {
        font-size: 14px;
        p {
          br {
            display: none;
          }
        }
      }

      .text-bottom {
        p:nth-child(2) {
          br {
            display: none;
          }
        }
      }
    }

    .vector-box {
      position: relative;
      img {
        position: absolute;
        top: -15%;
        max-width: 300px;
      }
    }
  }

  .section-steps {
    margin-top: 100px;
    .text-header {
      p {
        font-size: 18px;
      }
    }
  }

  .slick-track {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
  }

  .section-elevate {
    .elevate-action {
      width: 50vw;

      .heading {
        h1 {
          font-size: 40px;
        }
      }

      .subheading {
        p {
          font-size: 16px;
        }
      }

      .text {
        p {
          font-size: 14px;
        }
      }
    }

    .elevate-ill {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50vw;
      img {
        margin-top: -15%;
        width: 45vw;
      }
    }
  }

  .section-workspace {
    margin-top: 0;
    .workspace-ill {
      width: 50vw;
      img {
        width: 100%;
      }
    }

    .workspace-action {
      margin-top: 30%;
      width: 50vw;
      .heading {
        margin-bottom: -3%;
        h1 {
          font-size: 30px;
        }
      }

      .subheading {
        margin-top: 12px;
        margin-bottom: 12px;
        p {
          font-size: 12px;
        }
      }

      .text {
        p {
          font-size: 14px;
        }
      }

      #action-call {
        margin-top: 0px;
        width: 300px;
        margin: auto;
      }
    }
  }

  .section-testimonials {
    margin-top: 0;
    .hero {
      h1 {
        font-size: 40px;
      }
      .heading {
        img {
        }
      }

      .text {
        p {
          font-size: 14px;
        }
      }
    }

    .slick-track {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 16px;
    }

    .slick-slide:first-child {
      margin-right: -50px;
    }

    .slick-slide:last-child {
      margin-left: -50px;
    }
  }

  .section-sign-up {
    margin-top: 120px;
    .hero {
      .header {
        h1 {
          font-size: 40px;
        }
      }

      .text {
        p {
          font-size: 16px;
        }
      }
    }

    .sign-up-ills {
      img {
        height: 8rem;
        margin-bottom: 0;
      }
    }
  }

  .ml-footer {
    column-gap: 2rem;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  // navbar

  .navbar-main {
    margin-top: 0;
    .logo {
      padding-left: 6%;
      font-size: 14px;
    }
  }

  .navbar-brand {
    font-size: 14px;
    margin-left: 0% !important;
  }

  // hero

  .header-grid {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4.5fr 4.5fr;
    .navbar-main {
      grid-row: 1 / 2;
    }
    .hero-left {
      position: relative;
      grid-row: 2 / 4;
      grid-column: 1 / 2;
      margin-top: 0;
      .hero-left-wrapper {
        margin: auto;
        // margin-left: 1%;
        // margin-left: 8%;
        .hero-grabber {
          h1 {
            font-size: 36px;
          }
        }
        .hero-text {
          p {
            font-size: 14px;
            width: 300px !important;
            br {
              display: none;
            }
          }
        }
      }
    }

    .hero-right {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      img {
        margin: auto;
        margin-bottom: 40px;
      }
    }
  }

  // trusted orgs

  .section-trusted-orgs {
    .org-top {
      p {
        font-size: 16px;
        color: #12131a;
        opacity: 0.7;
      }
    }

    .org-bottom {
      img {
        width: 70% !important;
        // height: 60% !important;
      }
    }

    #apple {
      img {
        width: 25% !important;
      }
    }
  }

  // accelerate

  .section-master-accelerate {
    margin-top: 2rem !important;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;

    .text-box {
      padding: 9%;
      grid-row: 1/4;
      .text-top h2 {
        font-size: 28px;
      }
    }

    .text-bottom {
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        br {
          display: none;
        }
      }
    }

    .vector-box {
      position: relative;
      grid-row: 4/6;
      img {
        width: 225px;
        height: auto;
        position: absolute;
        top: 0;
      }
    }
  }

  // steps

  .section-steps {
    margin-top: -2rem;
    .text-header {
      padding: 10%;
      p {
        font-size: 16px;
        line-height: 170%;
        br {
          display: none;
        }
      }
    }
  }

  .step-box-wrapper {
    display: flex;
  }

  // elevate

  .section-elevate {
    margin-top: 10%;
    grid-template-columns: none;
    .elevate-action {
      padding-left: 8%;
      padding-right: 8%;
      width: 100vw;
      .heading {
        img {
          width: 65px;
          margin-bottom: 1rem;
        }
        h1 {
          font-size: 28px;
          br {
            display: none;
          }
        }
      }

      .heading,
      .subheading,
      .text {
        margin-top: 1rem;
      }

      .subheading {
        p {
          font-size: 14px;
        }
      }

      .text {
        p {
          padding-bottom: 1rem;
          font-size: 14px;
          br {
            display: none;
          }
        }

        #action-call {
          margin-top: 0;
          .button-text {
            margin-left: 3em;
          }

          .button-icon {
            margin-right: 2em;
          }
        }

        a {
          width: 100%;
          button {
            width: 100% !important;
            font-size: 18px !important;
            padding: 12px !important;
            border-radius: 30px !important;
            justify-content: space-evenly !important;
          }
        }
      }
    }

    .elevate-ill {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        max-height: 35%;
      }
    }
  }

  // workspace

  .section-workspace {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-top: -20rem;
    .workspace-ill {
      grid-row: 2;
      margin-top: 2rem;
      img {
        height: auto;
        max-width: 100%;
      }
    }

    .workspace-action {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin-left: 0;
      .heading {
        h1 {
          font-size: 28px;
        }
      }

      .subheading {
        p {
          font-size: 14px;
        }
      }

      .text {
        p {
          font-size: 14px;
          width: 300px;
          br {
            display: none;
          }
        }
      }

      #action-call {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 300px !important;
      }
    }
  }

  // testimonials

  .section-testimonials {
    margin-top: 3rem;
    .hero {
      .heading {
        padding: 10%;
        img {
          width: 40%;
        }

        h1 {
          font-size: 28px;
          margin-bottom: 0;
          br {
            display: none !important;
          }
        }
      }

      .text {
        margin-top: 0;
        padding: 0 6% 0 6%;
        p {
          font-size: 14px;
          br {
            display: none !important;
            font-size: 14px;
          }
        }
      }
    }

    .testimonials-ill {
      overflow: scroll !important;
    }
  }

  // sign-up

  .section-sign-up {
    margin-top: 4rem;
    .hero {
      margin-bottom: 4rem;
      padding: 10%;
      .header {
        h1 {
          font-size: 36px;
          br {
            display: none !important;
          }
        }
      }

      .text {
        p {
          font-size: 14px;
          br {
            display: none !important;
          }
        }
      }

      .action {
        display: grid;

        .more-info {
          width: 100% !important;
        }
      }
    }

    .sign-up-ills {
      grid-gap: 0 !important;
      img {
        margin-bottom: 0;
      }
    }

     #action-call:nth-child(1) {
      color: white;
      width: 300px !important;
      margin-top: 4px;
    }

    #action-call:nth-child(2) {
      background: #eff4fc;
      color: #336cdb;
      width: 300px !important;
      margin-top: 4px;
    }
  }

  // footer

  .ml-footer {
    grid-template-columns: none;
    grid-gap: 2rem;

    .footer-grid {
      h3 {
        font-size: 2.5rem;
      }

      .grid-text {
        font-size: 16px;
      }
    }

    .social-list {
      width: 100%;

      li:first-child {
        margin-left: 1rem !important;
      }

      li {
        margin-left: 2rem !important;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .store-name {
      margin-top: 1rem;
      img {
        width: 50%;
      }
    }
  }
}


#action-call {
  max-width: 300px !important;
}