@import "./variables";
@import "../../components/styles/spacer";
@import "../../components/styles/header";
@import "../../components/styles/navbar";
@import "../../components/styles/footer";
@import "../../components/styles/buttons";
@import "../../components/styles/home";

@import "bootstrap/dist/css/bootstrap.min.css";
@import "../../components/styles/mobile";
@import 'react-modern-drawer/dist/index.css';

// @import "~slick-carousel/slick/slick.css"; 
// @import "~slick-carousel/slick/slick-theme.css";


body, a {
  font-family: "DM Sans", sans-serif !important;
}

a {
  cursor: pointer !important;
  color: white !important;
}

#__next {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.mobile-drawer {
  background-color: $text-blue !important;
}



